body {
    background-image: url("../img/spikes.png");
    overflow-y: hidden;
}

h1 {
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 10vw;
    margin-bottom: 0;
    line-height: 10vh;
    white-space: nowrap;
}

.subtitle {
    font-family: 'Merriweather', serif;
    text-align: right;
    font-style: italic;
    text-transform: uppercase;
    padding-right: 10vw;
    font-size: 2vw;
}

header {
    max-width: 1200px;
    margin: auto;
    padding-top: 40vh;
}


/* On teste */

.faddingheader {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.faddingheader.load {
    opacity: 1;
}

nav.primenave {
    text-align: center;
    padding-top: 10vh;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
    font-style: italic;
    font-size: 1.2vw;
    opacity: 0;
    padding-bottom: 100vh;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    white-space: nowrap;
}

nav.load {
    opacity: 1;
}

.pleinepage {
    height: 92vh;
    max-width: 1200px;
    margin: auto;
}

#prezi {
    padding-bottom: 8vh;
}

.textintro {
    text-align: justify;
    font-family: sans-serif;
    font-style: italic;
    font-size: 0.85rem;
}

.hello {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
}

.textquisuit {
    text-align: justify;
    font-family: sans-serif;
    font-size: 1rem;
}

svg {
    fill: deepPink;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 1.8rem;
    font-style: italic;
    ;
}

h4 {
    font-family: 'Merriweather', serif;
}