body {
    background-image: url("../img/spikes.png");
}

h1 {
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 10vw;
    margin-bottom: 0;
    line-height: 15vh;
    white-space: nowrap;
}

.subtitle {
    font-family: 'Merriweather', serif;
    text-align: right;
    font-style: italic;
    text-transform: uppercase;
    padding-right: 10vw;
}

header {
    max-width: 1200px;
    margin: auto;
    padding-top: 40vh;
}


/* On teste */

.faddingheader {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.faddingheader.load {
    opacity: 1;
}

nav {
    text-align: center;
    padding-top: 10vh;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
    font-style: italic;
    font-size: 1.4vw;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

nav.load {
    opacity: 1;
}